.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .card {
        width: calc(100% / 5 - 30px);
        position: relative;
        cursor: pointer;
        transition: .3s;
        margin-bottom: 50px;
        &:hover {
            transform: scale(1.1);
            &:after {
                opacity: 0;
            }
        }
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 415px;
            background-color: #000;
            opacity: .3;
            transition: .3s;
        }
        &__image {
            width: 100%;
            height: 415px;
            object-fit: cover;
        }
        &__title {
            font-size: 16px;
            color: #fff;
            font-weight: 600;
            padding: 10px 0 0 0;
            line-height: 20px;
        }
    }
}