.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    &__text {
        width: calc(50% - 20px);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__title {
        width: 250px;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        margin-bottom: 20px;
    }
    &__subtitle {
        font-size: 40px;
        font-weight: 700;
        color: #fff;
    }
    &__images {
        position: relative;
        width: calc(50% - 20px);
    }
    &__image {
        width: 100%;
    }
}
